@import '../../../../styles/variables';

.toast {
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.error {
  background-color: $red;
}

.success {
  background-color: $green;
}

