$font-family: 'Roboto', sans-serif;
$font-weight100: 100;
$font-weight400: 400;
$font-weight500: 500;
$font-weight700: 700;

$color-background: #f1f1f1;
$primary-color: #4F5D75;
$primary-color-light: #6b7a93;
$second-color: #2D3142;
$terceary-color: #BFC0C0;
